<%- include('partials/navbar') %>
<div class="container my-5">
  <h1>About Us</h1>
  <p>We make plant care easy and enjoyable for everyone.</p>
  <div class="row">
    <div class="col-md-6">
      <img src="/public/images/Plantvariety1.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <img src="/public/images/Plantvariety2.jpg" class="img-fluid rounded">
    </div>
  </div>
</div>
<%- include('partials/footer') %> 