<footer class="text-center py-4">
    <div class="social-icons mb-3">
      <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
      <a href="#" class="mx-2"><i class="bi bi-twitter"></i></a>
      <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
    </div>
    <p>&copy; Leafy Match. All Rights Reserved.</p>
  </footer>